[Unit]
Description=Dynamic output configuration with shikane
Documentation=man:shikane(1) man:shikane(5)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/shikane
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
