@define-color foreground #ffcead;
@define-color background #060B1E;
@define-color surface #3C486D;
@define-color accent #7d82d9;
@define-color muted #6d7db6;
@define-color warning #E9BB4F;
@define-color critical #ED5B5A;

* {
    background-color: @background;
    color: @foreground;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Hack Nerd Font", monospace;
    font-size: 12px;
}

window#waybar {
    background-color: @background;
    border-bottom: 1px solid alpha(@surface, 0.7);
}

tooltip {
    background-color: @background;
    border: 1px solid @surface;
    padding: 2px;
}

tooltip label {
    color: @foreground;
}

button {
    box-shadow: none;
    text-shadow: none;
    padding: 0;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces {
    margin: 0 4px 0 0;
}

#workspaces button {
    all: initial;
    color: @foreground;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    font-family: "Hack Nerd Font", monospace;
    font-size: 12px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active {
    color: @accent;
}

#workspaces button.urgent {
    color: @critical;
}

#submap {
    color: @warning;
    margin-left: 8px;
}

#clock {
    margin-left: 8.75px;
    margin-right: 8.75px;
}

#tray {
    margin-right: 16px;
}

#bluetooth {
    margin-right: 17px;
}

#network {
    margin-right: 13px;
}

#pulseaudio,
#power-profiles-daemon,
#cpu,
#memory,
#backlight,
#battery,
#custom-power {
    min-width: 12px;
    margin: 0 7.5px;
}

#network.disconnected,
#bluetooth.disabled,
#bluetooth.off,
#pulseaudio.muted {
    color: @muted;
}

#battery.warning:not(.charging) {
    color: @warning;
}

#battery.critical:not(.charging) {
    color: @critical;
}

#power-profiles-daemon.performance {
    color: @critical;
}

#power-profiles-daemon.power-saver {
    color: #92a593;
}

#custom-power {
    color: @accent;
}

.hidden {
    opacity: 0;
}
